@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');



.screen__content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  margin: 3rem auto
}

.loginImage{
  position: relative;
  width: 70rem;
  border-radius: 1rem;
  opacity: .3;
  height: 30rem;
   object-fit:cover  
}

.login-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}



.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
	width: 27rem;
	padding: 1rem;
  border-radius: .5rem;
}


.login__field {
	padding: 20px 0px;	
	position: relative;	
}



.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}
.button__text{
font-weight: bolder;
}
.social-login {	
  color: #000;

}


.social-login__icon {
	padding: 20px 10px;
	text-decoration: none;	
  font-size: 1.5rem;
   color: rgb(175, 50, 50);
}

.social-login__icon:hover {
	transform: scale(1.5);	
}