<link rel="stylesheet" href="/style/login.css" />

<div class="screen__content">
  <img class="loginImage" src="/image/restaurant.png" alt="" />
  <div class="login-container">
    <form class="login">
      <div class="login__field">
        <i class="login__icon fas fa-user"></i>
        <label for="userEmail"></label>
        <input
          id="userEmail"
          type="text"
          class="login__input"
          placeholder="User name / Email"
        />
      </div>
      <div class="login__field">
        <i class="login__icon fas fa-lock"></i>
        <input type="password" class="login__input" placeholder="Password" />
      </div>
      <button class="button login__submit btn btn-outline">
        <span class="button__text">Log In Now</span>
        <i class="button__icon fas fa-chevron-right"></i>
      </button>
    </form>
    <div class="social-login">
      <h3>log in via</h3>
      <a href="/instagram" class="social-login__icon fab fa-instagram"></a>
      <a href="/facebook" class="social-login__icon fab fa-facebook"></a>
      <a href="/twitter" class="social-login__icon fab fa-twitter"></a>
    </div>
  </div>
</div>