<link rel="stylesheet" href="/style/login.css" />

<div class="screen__content">
  <img class="loginImage" src="/image/restaurant.png" alt="" />
  <div class="login-container">

    {{! 登入 }}
    <form method="POST" action="/logged" class="d-flex flex-column">
      <div class="login__field">
        <i class="login__icon fas fa-user"></i>
        <label for="userEmail" aria-describedby=""></label>
        <input
          id="userEmail"
          type="text"
          class="login__input"
          placeholder="User name / Email"
          name="email"
        />
      </div>
      <div class="login__field">
        <i class="login__icon fas fa-lock"></i>
        <input
          type="password"
          class="login__input"
          name="password"
          placeholder="Password"
        />
      </div>

      <button type="submit" class="button login__submit btn btn-outline">
        <span class="button__text">Sign In Now</span>
        <i class="button__icon fas fa-chevron-right"></i>
      </button>
    </form>

    {{! 註冊 }}
    <form method="PUT" action="/">
      <button type="submit" class="button login__submit btn btn-outline">
        <span class="button__text">註冊新帳號</span>
        <i class="button__icon fas fa-chevron-right"></i>
      </button>
    </form>
    <div class="social-login">
      <a href="/instagram" class="social-login__icon fab fa-instagram"></a>
      <a href="/facebook" class="social-login__icon fab fa-facebook"></a>
      <a href="/twitter" class="social-login__icon fab fa-twitter"></a>
    </div>
  </div>
</div>